	<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" ng-app="pmcApp"> <!--<![endif]-->
<head>
	<title>Unify | Creative One Page Theme</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/one.style.css">

	<!-- CSS Footer -->
	<link rel="stylesheet" href="assets/css/footers/footer-v7.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="assets/plugins/animate.css">
	<link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/plugins/pace/pace-flash.css">
	<link rel="stylesheet" href="assets/plugins/owl-carousel/owl.carousel.css">
	<link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
	<link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">
	<link rel="stylesheet" href="assets/plugins/revolution-slider/rs-plugin/css/settings.css" type="text/css" media="screen">
	<link rel="stylesheet" href="assets/plugins/login-signup-modal-window/css/style.css">
	<!--[if lt IE 9]><link rel="stylesheet" href="assets/plugins/revolution-slider/rs-plugin/css/settings-ie8.css" type="text/css" media="screen"><![endif]-->

	<!-- Style Switcher -->
	<link rel="stylesheet" href="assets/css/plugins/style-switcher.css">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
	<link rel="stylesheet" href="assets/css/theme-skins/one.dark.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="assets/css/custom.css">
</head>

<!--
The #page-top ID is part of the scrolling feature.
The data-spy and data-target are part of the built-in Bootstrap scrollspy function.
-->
<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery" ng-controller="ControladorCtrl">

	<!--=== Header ===-->
	<nav class="one-page-header one-page-header-style-2 navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="menu-container page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#intro">
					<span>M</span>onithor
					<!--<img src="assets/img/monithor.png" alt="Logo" style="width:30px; height:40px;">-->
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<div class="menu-container">
					<ul class="log-reg-block visible-md-block visible-lg-block">
						<li class="cd-log_reg"><a class="cd-signin" href="javascript:void(0);">Iniciar Sesión</a></li>
						<li class="cd-log_reg"><a class="cd-signup" href="javascript:void(0);">Registrarse</a></li>
					</ul>

					<ul class="nav navbar-nav">
						<li class="page-scroll home">
							<a href="#body">Inicio</a>
						</li>
						<li class="page-scroll">
							<a href="#about">¿Quiénes somos?</a>
						</li>
						<li class="page-scroll">
							<a href="#services">Servicios</a>
						</li>
						<li class="page-scroll">
							<a href="#contact">Contáctanos</a>
						</li>
						<li class="cd-log_reg visible-xs-block visible-sm-block"><a class="cd-signin" href="javascript:void(0);">Login</a></li>
						<li class="cd-log_reg visible-xs-block visible-sm-block"><a class="cd-signup" href="javascript:void(0);">Registrarse</a></li>
					</ul>
				</div>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	<!--=== End Header ===-->

	<!-- Intro Section -->
	<section id="intro" class="intro-section">
		<div class="fullscreenbanner-container">
			<div class="fullscreenbanner">
				<ul>
					<!-- SLIDE 1 -->
					<li data-transition="curtain-1" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
						<!-- MAIN IMAGE -->
						<img src="assets/img/college2.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

						<!-- LAYERS -->
						<div class="tp-caption rs-caption-1 sft start"
							data-x="center"
							data-hoffset="0"
							data-y="100"
							data-speed="800"
							data-start="2000"
							data-easing="Back.easeInOut"
							data-endspeed="300">
							LAS MEJORES TUTORÍAS PERSONALIZADAS
						</div>

						<!-- LAYER -->
						<div class="tp-caption rs-caption-2 sft"
							data-x="center"
							data-hoffset="0"
							data-y="200"
							data-speed="1000"
							data-start="3000"
							data-easing="Power4.easeOut"
							data-endspeed="300"
							data-endeasing="Power1.easeIn"
							data-captionhidden="off"
							style="z-index: 6">
							La solución a tus problemas académicos a un click de distancia.<br>
							Minizamos el esfuerzo que pones al buscar una tutoría y maximizamos tus resultados.
						</div>

						<!-- LAYER -->
						<div class="tp-caption rs-caption-3 sft"
							data-x="center"
							data-hoffset="0"
							data-y="360"
							data-speed="800"
							data-start="3500"
							data-easing="Power4.easeOut"
							data-endspeed="300"
							data-endeasing="Power1.easeIn"
							data-captionhidden="off"
							style="z-index: 6">
							<span class="page-scroll"><a href="#about" class="btn-u btn-brd btn-brd-hover btn-u-light">¿Cómo funciona?</a></span>
							<span class="page-scroll"><a href="#portfolio" class="btn-u btn-brd btn-brd-hover btn-u-light">Nuestro trabajo</a></span>
						</div>
					</li>

					<!-- SLIDE 2 -->
					<li data-transition="slideup" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
						<!-- MAIN IMAGE -->
						<img src="assets/img/registrate.jpg" alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

						<!-- LAYERS -->
						<div class="tp-caption rs-caption-1 sft start"
							data-x="center"
							data-hoffset="0"
							data-y="100"
							data-speed="800"
							data-start="1500"
							data-easing="Back.easeInOut"
							data-endspeed="300">
							PRIMER PASO
						</div>

						<!-- LAYER -->
						<div class="tp-caption rs-caption-2 sft"
							data-x="center"
							data-hoffset="0"
							data-y="200"
							data-speed="1000"
							data-start="2500"
							data-easing="Power4.easeOut"
							data-endspeed="300"
							data-endeasing="Power1.easeIn"
							data-captionhidden="off"
							style="z-index: 6">
							Regístrate de forma GRATUITA en nuestra página web<br>
							o inicia sesión con tu cuenta.
						</div>
					</li>

					<!-- SLIDE 3 -->
					<li data-transition="slideup" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
						<!-- MAIN IMAGE -->
						<img src="assets/img/seleccionar.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

						<!-- LAYERS -->
						<div class="tp-caption rs-caption-1 sft start"
							data-x="center"
							data-hoffset="0"
							data-y="110"
							data-speed="800"
							data-start="1500"
							data-easing="Back.easeInOut"
							data-endspeed="300">
							SEGUNDO PASO
						</div>

						<!-- LAYER -->
						<div class="tp-caption rs-caption-2 sfb"
							data-x="center"
							data-hoffset="0"
							data-y="210"
							data-speed="800"
							data-start="2500"
							data-easing="Power4.easeOut"
							data-endspeed="300"
							data-endeasing="Power1.easeIn"
							data-captionhidden="off"
							style="z-index: 6">
							Busca tutores para la materia que necesitas.<br>
							Mira los tutores disponibles y selecciona el que más te guste.
						</div>
					</li>
                    <!-- SLIDE 4 -->
					<li data-transition="slideup" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
						<!-- MAIN IMAGE -->
						<img src="assets/img/verinfo.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

						<!-- LAYERS -->
						<div class="tp-caption rs-caption-1 sft start"
							data-x="center"
							data-hoffset="0"
							data-y="110"
							data-speed="800"
							data-start="1500"
							data-easing="Back.easeInOut"
							data-endspeed="300">
							TERCER PASO
						</div>

						<!-- LAYER -->
						<div class="tp-caption rs-caption-2 sfb"
							data-x="center"
							data-hoffset="0"
							data-y="210"
							data-speed="800"
							data-start="2500"
							data-easing="Power4.easeOut"
							data-endspeed="300"
							data-endeasing="Power1.easeIn"
							data-captionhidden="off"
							style="z-index: 6">
							Verifica la información del tutor.<br>
							Podrás encontrar datos interesantes como su experiencia como tutor, <br>
                            de qué otras clases es tutor y sus puntuaciones específicas en cada tutoría.
						</div>
					</li>
                    <!-- SLIDE 5 -->
					<li data-transition="slideup" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
						<!-- MAIN IMAGE -->
						<img src="assets/img/agendar.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

						<!-- LAYERS -->
						<div class="tp-caption rs-caption-1 sft start"
							data-x="center"
							data-hoffset="0"
							data-y="110"
							data-speed="800"
							data-start="1500"
							data-easing="Back.easeInOut"
							data-endspeed="300">
							CUARTO PASO
						</div>

						<!-- LAYER -->
						<div class="tp-caption rs-caption-2 sfb"
							data-x="center"
							data-hoffset="0"
							data-y="210"
							data-speed="800"
							data-start="2500"
							data-easing="Power4.easeOut"
							data-endspeed="300"
							data-endeasing="Power1.easeIn"
							data-captionhidden="off"
							style="z-index: 6">
							Agenda una cita con tu tutor.<br>
							Podrás especificar lugar, fecha, duración y hasta costo negociable de tutoría.<br>
                            Al finalizar la tutoría podrás dar retroalimentación de cómo fue.
						</div>
					</li>
                    <!-- SLIDE 6 -->
					<li data-transition="slideup" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
						<!-- MAIN IMAGE -->
						<img src="assets/img/perfecto%20copia.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

						<!-- LAYERS -->
						<div class="tp-caption rs-caption-1 sft start"
							data-x="center"
							data-hoffset="0"
							data-y="110"
							data-speed="800"
							data-start="1500"
							data-easing="Back.easeInOut"
							data-endspeed="300">
							¡DISFRUTA Y OBTÉN LOS MEJORES RESULTADOS!
						</div>

						<!-- LAYER -->
						<div class="tp-caption rs-caption-2 sfb"
							data-x="center"
							data-hoffset="0"
							data-y="210"
							data-speed="800"
							data-start="2500"
							data-easing="Power4.easeOut"
							data-endspeed="300"
							data-endeasing="Power1.easeIn"
							data-captionhidden="off"
							style="z-index: 6">
							En monithor trabajamos para ofrecer el servicio adecuado para ti<br>
                            ¿Qué esperas para unirte?
						</div>
					</li>
				</ul>
				<div class="tp-bannertimer tp-bottom"></div>
				<div class="tp-dottedoverlay twoxtwo"></div>
			</div>
		</div>
	</section>
	<!-- End Intro Section -->

	<!--  About Section -->
	<section id="about" class="about-section section-first">
		<div class="container content-lg">
			<div class="title-v1">
				<h2>Nuestros objetivos</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
                Lorem Ipsum has been the industry's</p>
			</div>

			<div class="row">
				<div class="col-md-6 content-boxes-v3 margin-bottom-40">
					<div class="clearfix margin-bottom-30">
						<i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-trophy"></i>
						<div class="content-boxes-in-v3">
							<h2 class="heading-sm">Lideres en innovación</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
						</div>
					</div>
					<div class="clearfix margin-bottom-30">
						<i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-directions"></i>
						<div class="content-boxes-in-v3">
							<h2 class="heading-sm">Mejores acercamientos a la solución</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
						</div>
					</div>
					<div class="clearfix margin-bottom-30">
						<i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-diamond"></i>
						<div class="content-boxes-in-v3">
							<h2 class="heading-sm">Calidad de servicio y soporte</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<img class="img-responsive" src="assets/img/mock.png" alt="">
				</div>
			</div>
		</div>


		<div class="team-v1 bg-grey content-lg">
			<div class="container">
				<div class="title-v1">
					<h2>Conoce nuestro equipo</h2>
					<p>Nosotros somos <strong>PMCTF</strong>, un grupo de jovenes emprendedores. <br>
				</div>

				<ul class="list-unstyled row">
					<li class="col-sm-3 col-xs-6 md-margin-bottom-30">
						<div class="team-img">
							<img class="img-responsive" src="assets/img/team/img1-md.jpg" alt="">
							<ul>
								<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
							</ul>
						</div>
						<h3>Andrés Zuleta</h3>
						<h4>Programador Front-End - Web Master</h4>
					</li>
					<li class="col-sm-3 col-xs-6 md-margin-bottom-30">
						<div class="team-img">
							<img class="img-responsive" src="assets/img/team/img2-md.jpg" alt="">
							<ul>
								<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
							</ul>
						</div>
						<h3>Sergio Madera</h3>
						<h4>Desarrollador Web - Diseñador de arqitectura</h4>
					</li>
					<li class="col-sm-3 col-xs-6">
						<div class="team-img">
							<img class="img-responsive" src="assets/img/team/img3-md.jpg" alt="">
							<ul>
								<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
							</ul>
						</div>
						<h3>Luis Mesa</h3>
						<h4>Programador Back-End</h4>
					</li>
					<li class="col-sm-3 col-xs-6">
						<div class="team-img">
							<img class="img-responsive" src="assets/img/team/img5-md.jpg" alt="">
							<ul>
								<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
							</ul>
						</div>
						<h3>David Cubillos</h3>
						<h4>Diseñador Creativo</h4>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!--  About Section -->

	<!-- Services Section -->
	<section id="services">
		<div class="container content-lg">
			<div class="title-v1">
				<h2>Nuestros Servicios</h2>
				<p>Nos enfocamos en hacer las cosas <strong>especiales</strong> para ti, de forma diferente a otras alternativas.<br>
				 Estamos enfocados a  <strong>optimizar</strong> los resultados obtenidos por nuestros clientes.</p>
			</div>

			<div class="row service-box-v1">
				<div class="col-md-4 col-sm-6">
					<div class="service-block service-block-default">
						<i class="icon-custom icon-lg icon-bg-u rounded-x fa fa-lightbulb-o"></i>
						<h2 class="heading-md">Servicios de tutorado</h2>
						<p>¿Necesitas un poco de ayuda? Este es el lugar para ti.</p>
						<ul class="list-unstyled">
                            <li>Búsqueda automática de tutores</li>
							<li>Tutorías personalizadas</li>
							<li>Seguimiento de tu rendimiento</li>
							<li>Recomendación de tutores</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="service-block service-block-default">
						<i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-present"></i>
						<h2 class="heading-sm">Servicios de tutor</h2>
						<p>¿Te interesa la docencia y quieres ganar dinero extra? También hay espacio para ti.</p>
						<ul class="list-unstyled">
							<li>Búsqueda de estudiantes</li>
							<li>Servicio de clasificados</li>
							<li>Creación de portafolio</li>
							<li>Contacto con empresas externas</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="service-block service-block-default">
						<i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-rocket"></i>
						<h2 class="heading-sm">Servicios de establecimiento</h2>
						<p>¿Eres una empresa o establecimiento en busca de talento? Aquí puedes hayarlo.</p>
						<ul class="list-unstyled">
							<li>Scouting</li>
                            <br>
							<li>Venture Joints</li>
                            <br>
							<li>Publicidad y promoción</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Services Section -->

	
	<!-- Contact Section -->
	<section id="contact" class="contacts-section">
		<div class="container content-lg">
			<div class="title-v1">
				<h2>¿Alguna duda?</h2>
				<p>Estamos siempre atentos a resolver tus inquietudes.<br>
				¡No dudes en contactarte con nosotros!</p>
			</div>

			<div class="row contacts-in">
				<div class="col-md-6 md-margin-bottom-40">
					<ul class="list-unstyled">
						<li><i class="fa fa-home"></i> Cra. 1 #18a12, Bogotá</li>
						<li><i class="fa fa-phone"></i> (571) 3394949 </li>
						<li><i class="fa fa-envelope"></i> <a href="info@example.com">byzum.studios@gmail.com</a></li>
						<li><i class="fa fa-globe"></i> <a href="http://htmlstream.com">www.monithor.com.co</a></li>
					</ul>
				</div>

				<div class="col-md-6">
					<form action="assets/php/sky-forms-pro/demo-contacts-process.php" method="post" id="sky-form3" class="sky-form contact-style">
						<fieldset>
							<label>Nombre</label>
							<div class="row">
								<div class="col-md-7 margin-bottom-20 col-md-offset-0">
									<div>
										<input type="text" name="name" id="name" class="form-control">
									</div>
								</div>
							</div>

							<label>Email <span class="color-red">*</span></label>
							<div class="row">
								<div class="col-md-7 margin-bottom-20 col-md-offset-0">
									<div>
										<input type="text" name="email" id="email" class="form-control">
									</div>
								</div>
							</div>

							<label>Mensaje</label>
							<div class="row">
								<div class="col-md-11 margin-bottom-20 col-md-offset-0">
									<div>
										<textarea rows="8" name="message" id="message" class="form-control"></textarea>
									</div>
								</div>
							</div>

							<p><button type="submit" class="btn-u btn-brd btn-brd-hover btn-u-dark">Enviar mensaje</button></p>
						</fieldset>

						<div class="message">
							<i class="rounded-x fa fa-check"></i>
							<p>Your message was successfully sent!</p>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="copyright-section">
			<p>2015 &copy; All Rights Reserved. Unify Theme by <a target="_blank" href="https://twitter.com/htmlstream">Htmlstream</a></p>
			<ul class="social-icons">
				<li><a href="#" data-original-title="Facebook" class="social_facebook rounded-x"></a></li>
				<li><a href="#" data-original-title="Twitter" class="social_twitter rounded-x"></a></li>
				<li><a href="#" data-original-title="Goole Plus" class="social_googleplus rounded-x"></a></li>
				<li><a href="#" data-original-title="Pinterest" class="social_pintrest rounded-x"></a></li>
				<li><a href="#" data-original-title="Linkedin" class="social_linkedin rounded-x"></a></li>
			</ul>
			<span class="page-scroll"><a href="#intro"><i class="fa fa-angle-double-up back-to-top"></i></a></span>
		</div>

	<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
			<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
				<ul class="cd-switcher">
					<li><a href="javascript:void(0);">Iniciar Sesión</a></li>
					<li><a href="javascript:void(0);">Registrarse</a></li>
				</ul>

				<div id="cd-login"> <!-- log in form -->
					<form class="cd-form">
						<p class="social-login">
							<span class="social-login-facebook"><a href="#"><i class="fa fa-facebook"></i> Facebook</a></span>
							<span class="social-login-google"><a href="#"><i class="fa fa-google"></i> Google</a></span>
							<span class="social-login-twitter"><a href="#"><i class="fa fa-twitter"></i> Twitter</a></span>
						</p>

						<div class="lined-text"><span>O inicia sesión con tus redes sociales</span><hr></div>

						<p class="fieldset">
							<label class="image-replace cd-email" for="signin-email">E-mail</label>
							<input class="full-width has-padding has-border" id="signin-email" type="text" placeholder="E-mail"
                                   ng-model="logueo.correo">
							<span class="cd-error-message">Error message here!</span>
						</p>

						<p class="fieldset">
							<label class="image-replace cd-password" for="signin-password">Password</label>
							<input class="full-width has-padding has-border" id="signin-password" type="password"  placeholder="Contraseña">
							<span class="cd-error-message">Error message here!</span>
						</p>

						<p class="fieldset">
							<input type="checkbox" id="remember-me" checked>
							<label for="remember-me">Recordar contraseña</label>
						</p>

						<p class="fieldset">
							<input class="full-width" type="submit" ng-click="iniciarSesion()" value="Iniciar Sesión">
						</p>
					</form>

					<p class="cd-form-bottom-message"><a href="javascript:void(0);">¿Olvidaste tu contraseña?</a></p>
					<!-- <a href="javascript:void(0);" class="cd-close-form">Close</a> -->
				</div> <!-- cd-login -->

				<div id="cd-signup"> <!-- sign up form -->
					<form class="cd-form">
						<p class="social-login">
							<span class="social-login-facebook"><a href="#"><i class="fa fa-facebook"></i> Facebook</a></span>
							<span class="social-login-google"><a href="#"><i class="fa fa-google"></i> Google</a></span>
							<span class="social-login-twitter"><a href="#"><i class="fa fa-twitter"></i> Twitter</a></span>
						</p>

						<div class="lined-text"><span>O regístrate con tus redes sociales</span><hr></div>
                        
                        <p class="fieldset">
							<label class="image-replace cd-username" for="signup-username">Nombre</label>
							<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Nombre completo" ng-model="usuarioNuevo.nombre">
							<span class="cd-error-message">Error message here!</span>
						</p>

						<p class="fieldset">
							<label class="image-replace cd-email" for="signup-email">E-mail</label>
							<input class="full-width has-padding has-border" id="signup-email" type="text" placeholder="E-mail"
                                   ng-model="usuarioNuevo.correo">
							<span class="cd-error-message">Error message here!</span>
						</p>

						<p class="fieldset">
							<label class="image-replace cd-password" for="signup-password">Contraseña</label>
							<input class="full-width has-padding has-border" id="signup-password" type="password"  placeholder="Contraseña" ng-model="usuarioNuevo.clave">
							<span class="cd-error-message">Error message here!</span>
						</p>

						<p class="fieldset">
							<input type="checkbox" id="accept-terms">
							<label for="accept-terms">Acepto los <a href="javascript:void(0);">Términos</a> de uso</label>
						</p>

						<p class="fieldset">
							<input class="full-width has-padding" type="submit" value="Crear cuenta" ng-click="registrarse()">
						</p>
					</form>

					<!-- <a href="javascript:void(0);" class="cd-close-form">Close</a> -->
				</div> <!-- cd-signup -->

				<div id="cd-reset-password"> <!-- reset password form -->
					<p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

					<form class="cd-form">
						<p class="fieldset">
							<label class="image-replace cd-email" for="reset-email">E-mail</label>
							<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
							<span class="cd-error-message">Error message here!</span>
						</p>

						<p class="fieldset">
							<input class="full-width has-padding" type="submit" value="Reset password">
						</p>
					</form>

					<p class="cd-form-bottom-message"><a href="javascript:void(0);">Back to log-in</a></p>
				</div> <!-- cd-reset-password -->
				<a href="javascript:void(0);" class="cd-close-form">Close</a>
			</div> <!-- cd-user-modal-container -->
		</div> <!-- cd-user-modal -->

	</section>
	<!-- End Contact Section -->

	<!-- JS Global Compulsory -->
	<script src="assets/plugins/jquery/jquery.min.js"></script>
	<script src="assets/plugins/jquery/jquery-migrate.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- JS Implementing Plugins -->
	<script src="assets/plugins/smoothScroll.js"></script>
	<script src="assets/plugins/jquery.easing.min.js"></script>
	<script src="assets/plugins/pace/pace.min.js"></script>
	<script src="assets/plugins/jquery.parallax.js"></script>
	<script src="assets/plugins/counter/waypoints.min.js"></script>
	<script src="assets/plugins/counter/jquery.counterup.min.js"></script>
	<script src="assets/plugins/owl-carousel/owl.carousel.js"></script>
	<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
	<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
	<script src="assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script src="assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script src="assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
	<script src="assets/plugins/modernizr.js"></script>
	<script src="assets/plugins/login-signup-modal-window/js/main.js"></script> <!-- Gem jQuery -->

	<!-- JS Page Level-->
	<script src="assets/js/one.app.js"></script>
	<script src="assets/js/forms/login.js"></script>
	<script src="assets/js/forms/contact.js"></script>
	<script src="assets/js/plugins/pace-loader.js"></script>
	<script src="assets/js/plugins/owl-carousel.js"></script>
	<script src="assets/js/plugins/style-switcher.js"></script>
	<script src="assets/js/plugins/revolution-slider.js"></script>
	<script src="assets/js/plugins/cube-portfolio/cube-portfolio-lightbox.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="lib/node_modules/angular-route/angular-route.js"></script>
    <script src="lib/node_modules/angular-route/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src="scripts/controlador.js"></script>
	<script>
		jQuery(document).ready(function() {
			App.init();
			App.initCounter();
			App.initParallaxBg();
			LoginForm.initLoginForm();
			ContactForm.initContactForm();
			OwlCarousel.initOwlCarousel();
			StyleSwitcher.initStyleSwitcher();
			RevolutionSlider.initRSfullScreen();
		});
	</script>
	<!--[if lt IE 9]>
		<script src="assets/plugins/respond.js"></script>
		<script src="assets/plugins/html5shiv.js"></script>
		<script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
		<script src="assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
	<![endif]-->

	<!--[if lt IE 10]>
		<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
	<![endif]-->
</body>
</html>